body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.95);
}

.material-icon-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}


.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr; /*this makes the first column fixed at 260px and the divides the remaining space into three equal parts*/
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
.header {
    grid-area: header;
    height: 70px;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
    display: none;
}

/* SIDEBAR */
#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #30422b;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transform: all 0.5s;
    
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}
.sidebar-title > span{
    display: none;
}
.sidebar-brand{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}
.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}
/* MAIN */
.main-container{
    grid-area: main;
    /* background-color: pink; */
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}
.main-title{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.charts-card {
    background-color: #263043;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
#selectRegion {
    display: none;
}
/* Table */
#WellTest_Table_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    fill: none;
    stroke-width: 2px;
}

.line1 {
    stroke: steelblue;
}

.line2 {
    stroke: tomato;
}

.line3 {
    stroke: green;
    stroke-dasharray: 5, 5;
}
foreignObject {
    text-align: center
}
.y-axis-label {
    display: flex;
    align-items: center;
}
#secondFileInput{
    display: none;
}
.centered {
    text-align: center;
}

.highlight-link {
    background-color: #30422b;
    font-weight: bold;
    border: whitesmoke;
    padding: 10px;
    border-radius: 5%;
}
/* Table borders */
table,
th,
td {
    border: 1px solid rgb(252, 249, 249);
    border-collapse: collapse;
    text-align: center;
    padding: 8px;

}


@media screen and (max-width: 992px){
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-area: 
        "header"
        "main"
        ;
    }

    #sidebar {
        display: none;
    }
    .menu-icon {
        display: inline;
    }
    .sidebar-title>span {
        display: inline;
    }
}

@media screen and (max-width: 768px){
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px){
    .header-left {
        display: none;
    }

}